.pull-right {
   float: right;
}
.container {
   padding-top: 40px;
}
.navigation {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
 /*width: 100%;*/
   max-height: 100%;
   color: white;
   background-color: black;
   opacity: 0.8;
   z-index: 1;
   overflow: auto;

 /*height: 30px;*/
   font-size: 20px;
   padding: 4px 12px;
}
.navigation a {
   color: inherit;
 /*text-decoration: none;*/
}
.navigation ul {
   list-style: none;
   padding-left: 0;
   margin: 0;
}
.navigation ul.nav-items {
   display: inline-block;
}
.navigation ul.nav-items > li {
   display: inline-block;
   margin-right: 0.4em;
}
.navigation ul.nav-months {
   display: inline-block;
}
.navigation ul.nav-months > li {
   display: inline-block;
   margin-right: 0.4em;
}
.navigation ul.menu {
   text-align: right;
}
.thumbs {
   position: relative;
}
.thumbs > .visible {
   position: relative;
}
.thumb { 
   width: 72px;
   height: 72px;
   overflow: hidden;
   position: relative;
   margin: 2px;
   display: inline-block;
}
.thumb#thumb-size-sample {
   position: fixed;
   visibility: "hidden";
}
.thumb img {
   position: absolute;
   left: -100%;
   right: -100%;
   top: -100%;
   bottom: -100%;
   margin: auto;
   min-width: 100%;
   min-height: 100%;
}
.thumb .label {
   position: absolute;
   color: white;
   background-color: black;
   opacity: 0.7;
   width: 100%;
   left: 0;
   bottom: 0;
   padding: 0 4px;
   font-size: small;
}
@media (min-width:768px) {
   .thumb {
      width: 120px;
      height: 120px;
   }
}
@media (max-width:767px) {
   .thumb {
    /*width: 72px;
      height: 72px;*/
      width: 97px;
      height: 97px;
   }
}
.hidden {
   visibility: hidden;
}
.none {
   display: none;
}


